@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}

/* Header  */

.header {
  margin-top: 56px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  gap: 60px;
}

.header__list-item {
  list-style: none;
}

.header__list-item a {
  text-decoration: none;
  color: #070f18;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.header__list-item .active {
  color: #070f18;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.btn {
  padding: 12px 48px;
  border-radius: 50px;
  border: none;
  color: #070f18;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  color: #fff;
  background-color: #070f18;
}

.menu__btn{
  width: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menuOpenner,
.menuOpenerBtn {
  display: none;
}

@media screen and (max-width: 767px) {
  #menuOpenner:checked + .header__list {
    transform: translateX(0);
  }

  .container {
    padding: 0 24px;
  }

  .logo {
    z-index: 9999;
  }

  .header__list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(50, 50, 50);
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    padding-bottom: 25vh;
    width: 70%;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .header__list a{
    color: #fff;
  }

  #menuOpenner {
    visibility: hidden;
  }

  .header .btn {
    display: none;
  }

  #menuOpenner,
.menuOpenerBtn {
  display: block;
}
}

/* End of Header */

/* Hero */
.hero {
  padding-top: 90px;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 75px;
  /* gap: 20px; */
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero__content h2 {
  max-width: 450px;
  color: #000;
  font-size: 55px;
  font-weight: 700;
}

.hero__content p {
  padding-bottom: 10px;
  max-width: 423px;
  color: #575455;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.hero__wrapper img {
  max-width: 685px;
}

.btn__primary {
  padding: 12px 43px;
  border-radius: 50px;
  border: 1px solid #1F7CFF;
  background: #1F7CFF;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn__primary:hover {
  color: #1F7CFF;
  background-color: #fff;
}

@media screen and (max-width: 767px){
  .hero {
    padding-top: 50px;
  }

  .hero__wrapper img {
    display: none;
  }

  .hero__content h2 {
    font-size: 38px;
    font-weight: 700;
  }

  .hero__content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
}
/* End of Hero */

/* Companies */
.companies {
  padding-top: 70px;
}

.companies__wrapper {
  display: flex;
  justify-content: space-between;
  /* column-gap: 290px; */
}

.companies__wrapper h4 {
  max-width: 152px;
  margin-left: 40px;
  /* margin-right: 287px; */
}

.companies__list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 69px;
}

.companies__list-item {

}

.companies__list-item a {
  text-decoration: none;
}

@media screen and (max-width: 767px){
  .companies {
    padding-top: 50px;
  }

  .companies__wrapper {
    flex-direction: column;
    row-gap: 30px;
  }

  .companies__wrapper h4 {
    max-width: 250px;
    margin: 0;
    display: flex;
    align-items: flex-start;
  } 
  
  .companies__list {
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 14px;
    margin: 0;
  }
}
/* End of Companies */

/* Business */
.business {
  margin-top: 137px;
}

.business__wrapper {
  display: flex;
  flex-direction: column;
  
}

.business__wrapper h2 {
  padding-bottom: 6px;
  color: #F75C4E;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.business__wrapper h3 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.business__text {
  padding-bottom: 70px;
  max-width: 390px;
  margin: 0 auto;
  color: #575455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.business__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 93px;
  list-style: none;
}

.business__list-item {
  display: flex;
  column-gap: 24px;
}

.business__content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.business__content h4 {
  color: #070F18;
  font-size: 20px;
  font-weight: 600;
}

.business__content p {
  max-width: 216px;
  color: #575455;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 767px){
  .business {
    margin-top: 80px;
  }

  .business__wrapper h3 {
    font-size: 28px;
  }

  .business__text {
    padding-bottom: 50px;
  }

  .business__list {
    justify-content: flex-start;
    padding-left: 7px;
  }
}
/* End of Business */

/* Footer */
.footer {
  padding-top: 130px;
  padding-bottom: 124px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 71px;
}

.footer__wrapper iframe {
  width: 635px;
  height: 450px;
  border-radius: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__content h2 {
  color: #F75C4E;
  font-size: 16px;
  font-weight: 700;
}

.footer__content h4 {
  padding-top: 6px;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

.footer__content p {
  max-width: 386px;
  padding-bottom: 40px;
  color: #575455;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box input {
  border-radius: 50px 50px 50px 50px;
  background: #F5F6FB;
  border: 1px solid #F5F6FB;
  outline: none;
  padding: 13px 110px 13px 24px;
}

.form-box input::placeholder {
  color: #1C1C1C;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.form-box button {
  position: absolute;
  left: calc(73%);
  padding: 12px 43px;
  border-radius: 50px;
  border: 1px solid #1F7CFF;
  background: #1F7CFF;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.form-box button:hover {
  color: #1F7CFF;
  background-color: #fff;   
}

@media screen and (max-width: 767px){
  .footer {
    padding-top: 80px;
    padding-bottom: 44px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__wrapper iframe {
    width: 330px;
    height: 227px;
    margin-bottom: 40px;
  }

  .box {
    justify-content: center;
  }

  .form-box {
    flex-direction: column;
    row-gap: 12px;
  }

  .form-box button {
    position: unset;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 13px 106px 13px 106px;
  } 

  .form-box input {
    /* padding-bottom: 12px; */
  }

  .footer__content {
    align-items: center;
    justify-content: center;
  }

  .footer__content h4 {
    font-size: 28px;
  }

  .footer__content p {
    max-width: 313px;
    align-items: center;
    text-align: center;
  }
}
/* End of Footer  */
